body {
    height: 100%;
}

.game-window__plane {
    position: absolute;
    /* background-image: url(images/airplane.png); */
    top: 530px;
    left: calc(100%/2 - 65px);
    text-align: center;
    padding: 0;
    width: 65px;
    height: 65px;
    font-size: 50px;
    /* transform: rotate(-45deg); */
    transition: left 0.2s linear;
}

.obstacle {
    font-size: 50px;
    position: absolute;
    top: -60px;
    transition: top 0.2s linear;
    /* background-color: lightcyan; */
    /* width: 65px; */
    text-align: center;
}

.game-container {
    background-color: lightblue;
    margin: 0px auto 0px auto;
    width: 650px;
    height: 600px;
}

.game-stats {
    z-index: 99;
}

.end {
    height: auto;
}

.start-game {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 450px;
    z-index: 99;
    visibility: visible;
    background-color: rgb(204, 204, 204, 0.9);
    border: #e67e22 solid 2px;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
}