body {
    background: rgb(255, 90, 6);
    background: linear-gradient(0deg, rgba(255, 90, 6, 0.5) 0%, rgba(255, 176, 40, 0.5) 55%, rgba(138, 167, 127, 0.5) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

h3 {
    font-size: 110%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-weight: 300;
    text-transform: uppercase;
}

h3:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}

.game-main {
    width: 75%;
    height: 75%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: "clock menu" "list game";
    padding: 8px;
    border: #e67e22 solid 2px;
    border-radius: 10px;
    background-color: #ddd9a3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.clock {
    grid-area: "clock";
    margin: 5px;
    background-color: #f6f6f6;
    border: #e67e22 solid 2px;
    border-radius: 8px;
    text-align: center;
}

.menu {
    grid-area: "menu";
    margin: 5px;
    padding: 15px;
    background-color: #f6f6f6;
    border: #e67e22 solid 2px;
    border-radius: 8px;
    text-align: center;
}

.list {
    grid-area: "list";
    margin: 5px;
    background-color: #f6f6f6;
    border: #e67e22 solid 2px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game {
    grid-area: "game";
    margin: 5px;
    background-image: url("images/399.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: #e67e22 solid 2px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(13, 1fr);
}

.glasses {
    grid-area: 5 / 7 / 6 / 8;
}

.shoes {
    grid-area: 13 / 4 / 14 / 5;
}

.hat {
    grid-area: 3 / 7 / 4 / 8;
}

.aid-kit {
    grid-area: 12 / 13 / 13 / 14;
}

.compass {
    grid-area: 7 / 4 / 8 / 5;
}

.flashlight {
    grid-area: 7 / 10 / 8 / 11;
}

.bagpack {
    grid-area: 9 / 1 / 11 / 3;
}

.binoculars {
    grid-area: 9 / 6 / 10 / 7;
}

.wallet {
    grid-area: 7 / 11 / 8 / 12;
}

.map {
    grid-area: 9 / 4 / 10 / 5;
}

.camera {
    grid-area: 6/12/7/13;
}

.watch {
    grid-area: 2/11/3/12;
}

.sunscreen {
    grid-area: 7/2/8/3;
}

.lighter {
    grid-area: 7/3/8/4;
}

.phone {
    grid-area: 11/9/12/10;
}

.erace {
    display: none;
}

.itemList {
    text-align: center;
}

.btn-restart,
.btn-restart:visited {
    background-color: #e67e22;
    color: white;
    width: 70px;
    padding: 10px;
    margin: 10px 50%;
    transform: translate(-50%);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
}

.btn-restart:hover,
.btn-restart:active {
    background-color: #bf6516;
}

.btn-play,
.btn-play:visited {
    background-color: #e67e22;
    color: white;
    width: 35%;
    padding: 10px;
    margin: 15px auto;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    justify-content: space-around;
}

.btn-play:hover,
.btn-play:active {
    background-color: #bf6516;
}

.end {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 450px;
    z-index: 99;
    visibility: hidden;
    background-color: rgb(204, 204, 204, 0.9);
    border: #e67e22 solid 2px;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
}

.youLose {
    height: 180px;
}

.score {
    color: tomato;
    font-weight: 600;
}

.footer {
    background-color: #e67e22;
    color: wheat;
    width: 100vw;
    padding-top: 8px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
}