
.icon-print:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-fuel:before { content: '\e819'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */